// Maak een nieuwe pagina die 2 verschillende tabellen laat zien met ieder 5 records. De opmaak van de tabellen moet
// worden geregeld door dezelfde geparametriseerde LESS mixin met guard. 


@color1: rgb(54, 119, 232);
@factor3: 1.3;




.tblDefault(@margin, @border, @pading, @color, @borderCollapse: collapse)
{ 
        border: 3px @border;
        margin: @margin;
        border-collapse: @borderCollapse;
        
        td{
            border:@border;
            margin: @margin;
            padding: @padding;
            
        }
        
        th{
            border:@border;
            margin: @margin;
            padding: @padding;
            background-color:
            
        }
        
             
}



#tbl1
{
    .tblDefault;
}
